@font-face {
    font-family: Circular;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Circular-bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: apple-system;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: apple-system-light;
    src: url(../fonts/Roboto-Light.ttf);
}
