// Colors
$clr1: #ffffff;
$clr2: #ff385c;
$clr3: #f7f7f7;
$clr4: #ebebeb;
$clr5: #dddddd;
$clr6: #a8abb2;
$clr7: #929292;
$clr8: #7c7c7c;
$clr9: #717171;
$clr10: #000000;
$clr11: #222222;
$clr12: #717171;
$clr13: #e11860;
$clr14: #333333;

$font1: 'Circular';
$font2: 'apple-system';
$fontInfoStay: 15px;
$lineHeight: 19px;


// Breakpoints
$mobile-breakpoint: 480px;
$narrow-breakpoint: 600px;
$normal-breakpoint: 743px;
$with-breakpoint: 1127px;


// Layout - how many space in the sides
$layoutPadding: 20px;


$padded-break-mobile: $mobile-breakpoint ;
$padded-break-narrow: $narrow-breakpoint ;
$padded-break-normal: $normal-breakpoint ;
$padded-break-wide: $with-breakpoint ;


$break-grid-row-gap: 40px;
$break-grid-col-gap: 24px;