.galery {
    // display: flex;
    // background-color: aliceblue;
    // gap: 0.4vw;
    // padding-top: 24px;
    // padding: 80px;


    //Mobaile
    @include for-mobile-layout {}


    // // Narrow:
    // @include for-narrow-layout {
    //     background-color: rgb(144, 36, 36);

    // }

    // Normal:
    @include for-normal-layout {
        padding: 0px 40px;

        .galery-container{
            max-width: 1120px;
            display: flex;
        }

        .leftGalery {
            width: 515px;
            height: 440px;
            object-fit: cover;
            aspect-ratio: 1/1;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
        }

        img {
            width: 15vw;
            aspect-ratio: 1/1;

        }

        .rightGalery {
            // max-height: 492px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 8px;
            overflow: hidden;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            width: 515px;
            height: 440px;
            margin-left: 8px;
        }

    }



    // Wide:
    @include for-wide-layout {

        padding: 0px 80px;

        .galery-container{
            margin: 0px 34.5px;
            display: flex;
        }

        .leftGalery {
            width: 560px;
            height: 300px;
            object-fit: cover;
            aspect-ratio: 1/1;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
        }

        img {
            width: 15vw;
            aspect-ratio: 1/1;

        }

        .rightGalery {
            // max-height: 492px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 8px;
            overflow: hidden;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            width: 560px;
            height: 300px;
            margin-left: 8px;
        }

    }





}


// .leftGalery {
//     width: 29vw;
//     object-fit: cover;
//     aspect-ratio: 1/1;
//      border-top-left-radius: 12px;
//      border-bottom-left-radius: 12px;
// }

// img {
//     width: 15vw;
//     aspect-ratio: 1/1;

// }

// .rightGalery {
//     // max-height: 492px;
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-rows: repeat(2, 1fr);
//     gap: 8px;
// overflow: hidden;
//     border-top-right-radius: 12px;
//     border-bottom-right-radius: 12px;


// }