.Title{

    //Mobaile
    @include for-mobile-layout {
        

    }


    // // Narrow:
    // @include for-narrow-layout {
    //     background-color: rgb(144, 36, 36);

    // }

    // Normal:
    @include for-normal-layout {
        padding: 0px 40px;


        .titles-container{

            margin: 0px;
        }
    
        .tite-text{

            padding-top: 24px;
        }
        
    }

    // Wide:
    @include for-wide-layout {
        
        padding: 0px 80px;


        .titles-container{
            margin: 0px 34.5px;
        }
    
        .tite-text{

            padding-top: 24px;
        }
    }

   

    
}

.secendTitl{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.reviwTitle{
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}

.stay-name{
    font-size: 26px;
}

.reviewsBtnTitle{
    text-decoration: underline;
}
.titlAddres{
    margin-left: 20px;
}



