.filter-modal {
    font-family: 'Circular';
    color: $clr11;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $clr1;
    width: 780px;
    max-height: 80vh;
    padding: 0 em(24px);
    z-index: 5;
    height: max-content;
    border-radius: 1rem;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 8px 16px rgb(0 0 0 / 15%);
    overflow-y: auto;

    main {
        overflow-y: initial !important
    }

    h2{
        color: $clr11;


        
        font-size: rem(22px);
        line-height: em(26px);
    }

    h3 {
        color: $clr11;
        font-size: rem(14px);
        line-height: em(20px);
        font-weight: 400;
    }

    .any-btn {
        font-size: rem(14px);
        font-family: 'Circular';
        display: flex;
        width: 75px;
        background-color: $clr11;
        color: $clr1;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        height: 36px;
    }

    .range {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        gap: 10px;
        // justify-content: center;


        .number {
            color: $clr11;
            font-size: rem(14px);
            font-family: 'Circular';
            display: flex;
            justify-content: center;
            cursor: pointer;
            border: 1px solid $clr5;
            border-radius: 1rem;
            width: 57px;
            padding: 10px 20px;
            transition: 0.5s;

            &:hover {
                border: 1px solid $clr11;
            }
        }
    }
}

/* Important part */