.icone {
    display: block;
    height: 16px;
    width: 16px;
}

.lang {
    display: block;
    height: 16px;
    width: 16px;

}

.hum {
    display: block;
    fill: none;
    height: 16px;
    width: 16px;
    stroke: currentcolor;
    stroke-width: 3px;
    overflow: visible;
}