@import "./basics/svg.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@font-face {
  font-family: Circular;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: apple-system;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: apple-system-light;
  src: url(../fonts/Roboto-Light.ttf);
}
.fs12 {
  font-size: 0.75rem;
}

.fs14 {
  font-size: 0.875rem;
}

.fs18 {
  font-size: 1.125rem;
}

.fs20 {
  font-size: 1.25rem;
}

.fs24 {
  font-size: 1.5rem;
}

.fs28 {
  font-size: 1.75rem;
}

.fs30 {
  font-size: 1.875rem;
}

.flex {
  display: flex;
}
.flex > *.full {
  flex: 1;
}
.flex.column {
  flex-direction: column;
}
.flex.justify-center {
  justify-content: center;
}
.flex.align-center {
  align-items: center;
}

.square-ratio {
  position: relative;
  overflow: hidden;
}
.square-ratio::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.square-ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.square-ratio > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-ratio {
  position: relative;
  overflow: hidden;
}
.video-ratio::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.video-ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.video-ratio > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portrait-ratio {
  position: relative;
  overflow: hidden;
}
.portrait-ratio::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 177.7777777778%;
}
.portrait-ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.portrait-ratio > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.svg-white {
  display: block;
  align-self: center;
  fill: #ffffff;
  height: 16px;
  width: 0.8125rem;
  stroke: #ffffff;
  stroke-width: 6;
  overflow: visible;
}

.main-layout {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
}
.main-layout > * {
  grid-column: 2;
}
.main-layout > *.full {
  grid-column: 1/-1;
}
@media (min-width: 760px) {
  .main-layout {
    grid-template-columns: minmax(layoutPadding, 1fr) minmax(auto, 600px) minmax(layoutPadding, 1fr);
  }
}
@media (min-width: 1120px) {
  .main-layout {
    grid-template-columns: minmax(layoutPadding, 1fr) minmax(auto, 960px) minmax(layoutPadding, 1fr);
  }
}
@media (min-width: 1360px) {
  .main-layout {
    grid-template-columns: minmax(layoutPadding, 1fr) minmax(auto, 1200px) minmax(layoutPadding, 1fr);
  }
}

.try {
  background-color: antiquewhite;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
}
a :-webkit-any-link {
  color: none;
}

button {
  border: 0;
  background-color: inherit;
  margin: 5px;
  cursor: pointer;
}

form > * {
  display: block;
  width: 200px;
  margin: 10px 0px;
}

.btn-link {
  border: 0;
  background-color: transparent;
  text-decoration: underline;
  transition: 0.5s;
}

.btn-link:hover {
  background-color: #ffffff;
  transform: scale(1.1);
}

.fancy-box {
  background-color: gold;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.split-pane > div {
  transition: 0.5s;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
  transform: scale(1.3);
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transform: scale(1);
  transition: all 300ms ease-in;
}

.proj-preview {
  background-color: teal;
  color: whitesmoke;
  padding: 5px;
  margin: 3px;
}

.home-page .map-container svg {
  display: block;
  height: 16px;
  width: 16px;
  fill: rgb(0, 0, 0);
}
.home-page .main-screen {
  display: block;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #bfbfbf;
}
.home-page .filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Circular";
  width: 88px;
  min-height: 32px;
  padding: 0.4375em;
  border: 1px solid #dddddd;
  border-radius: 1rem;
  justify-self: end;
}
.home-page .filter-btn .content-container {
  display: flex;
  padding: 1em 0;
}

.stay-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.stay-list li {
  background-color: #ff385c;
  color: #a8abb2;
  padding: 5px;
  margin: 5px;
}
.stay-list a {
  color: #ffffff;
  padding: 10px;
}
.stay-list h3 {
  background-color: #ddd;
  padding: 10px 5px;
  margin: 5px;
}

.review-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.review-list li {
  background-color: #ff385c;
  color: #a8abb2;
  padding: 5px;
  margin: 5px;
}
.review-list a {
  color: #ffffff;
  padding: 10px;
}
.review-list h3 {
  background-color: #ddd;
  padding: 10px 5px;
  margin: 5px;
}

.user-details .user-img {
  height: 200px;
  width: 200px;
  background-size: contain;
}

.stays {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.home-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(221.7px, 1fr));
  grid-gap: 40px 24px;
  grid-auto-flow: row dense;
  list-style-type: none;
}
.home-list:last-child {
  grid-gap: 0px 0px;
}

.stay-preview {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  color: #222222;
  line-height: 19px;
}
.stay-preview:hover > * {
  background-color: rgb(235, 50, 81);
  opacity: 1;
}
.stay-preview .image-slider {
  height: 100%;
  width: 100%;
  position: relative;
}
.stay-preview .image-slider .slideStyle {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.stay-preview .image-slider .arraw {
  height: 32px;
  width: 32px;
  background-color: palevioletred;
  z-index: 4;
  cursor: pointer;
}
.stay-preview .image-slider .arraw .button {
  background-color: aliceblue;
  z-index: 4;
}
.stay-preview .image-slider .arraw svg {
  visibility: visible;
  transition-delay: 0ms;
  transition-duration: 200ms;
}
.stay-preview .image-slider .arraw:hover svg {
  visibility: visible;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  background-color: aquamarine;
}
.stay-preview .image-slider .dotContainer {
  display: flex;
  justify-content: center;
}
.stay-preview .image-slider .dot {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}
.stay-preview .square {
  position: relative;
  margin-bottom: 12px;
  aspect-ratio: 240/228;
}
.stay-preview .square::after {
  display: block;
  padding-bottom: 100%;
}
.stay-preview .square img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.stay-preview .slideshow-containter {
  width: 100px;
  height: 100px;
  background-color: bisque;
}
.stay-preview .slideshow-containter .slides-fade {
  background-color: aqua;
  width: 50;
  height: 50;
  display: none;
}
.stay-preview .flex-containter {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 12px 12px 0 12px;
}
.stay-preview .flex-containter .slider-containter,
.stay-preview .flex-containter .div-wish-list {
  display: flex;
  justify-content: end;
}
.stay-preview .flex-containter .div-arraws {
  display: grid;
  grid-template-columns: repeat(2, minmax(-webkit-min-content, auto));
  grid-template-columns: repeat(2, minmax(min-content, auto));
  grid-column-gap: 16px;
  align-items: center;
}
.stay-preview .flex-containter .div-arraws .leftArraw {
  left: 32px;
}
.stay-preview .flex-containter .div-arraws .rightArraw {
  right: 32px;
  justify-self: right;
}
.stay-preview .flex-containter .div-arraws .arraw {
  z-index: 1;
  cursor: pointer;
}
.stay-preview .flex-containter .div-arraws .arraw .position-arraw {
  opacity: 0;
  width: 32px;
  height: 32px;
  font-size: 16px;
  border-radius: 50%;
  background-color: #ebe9e7;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.stay-preview .flex-containter .div-arraws .arraw .position-arraw svg {
  display: block;
  fill: none;
  height: 12px;
  width: 12px;
  stroke: currentcolor;
  stroke-width: 4;
  overflow: visible;
  align-self: center;
  visibility: visible;
  transition-delay: 0ms;
  transition-duration: 200ms;
  grid-column: 2;
}
.stay-preview .flex-containter .div-arraws .arraw .position-arraw svg:hover {
  visibility: visible;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}
.stay-preview .flex-containter .div-arraws .arraw .position-arraw svg::after {
  visibility: visible;
}
.stay-preview .flex-containter .div-dots {
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(3, minmax(-webkit-min-content, auto));
  grid-template-columns: repeat(3, minmax(min-content, auto));
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: end;
}
.stay-preview .flex-containter .div-dots .dotContainer {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(5, 10px);
  justify-items: center;
  max-width: 55px;
  height: 18px;
}
.stay-preview .flex-containter .div-dots .dotContainer .dot1 {
  grid-column: 1;
}
.stay-preview .flex-containter .div-dots .dotContainer .dot2 {
  grid-column: 2;
}
.stay-preview .flex-containter .div-dots .dotContainer .dot3 {
  grid-column: 3;
}
.stay-preview .flex-containter .div-dots .dotContainer .dot4 {
  grid-column: 4;
}
.stay-preview .flex-containter .div-dots .dotContainer .dot5 {
  grid-column: 5;
}
.stay-preview .flex-containter .div-dots .dot {
  border-radius: 50%;
  height: 6px;
  width: 6px;
  margin: 0 2.5px;
  cursor: pointer;
  font-size: 20px;
  background-color: #fff;
  cursor: pointer;
  z-index: 1;
}
.stay-preview .image-containter {
  width: 100%;
}
.stay-preview .image-containter img {
  border-radius: 12px;
}
.stay-preview .image-containter svg {
  display: block;
  fill: rgba(0, 0, 0, 0.5);
  height: 24px;
  width: 24px;
  stroke: #ffffff;
  stroke-width: 2;
  overflow: visible;
  visibility: visible;
}
.stay-preview .image-containter button {
  height: 32px;
  width: 32px;
  visibility: hidden;
  z-index: 2;
}
.stay-preview .info-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) -webkit-max-content;
  grid-template-columns: minmax(0, 1fr) max-content;
  grid-template-rows: repeat(4, 19px);
  gap: 2px 8px;
  flex-direction: column;
  width: 100%;
}
.stay-preview .info-container > *:not(.container-star) {
  grid-column: 1;
}
.stay-preview .info-container .container-star {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  font-family: "apple-system";
}
.stay-preview .info-container .container-star .star-record {
  margin-left: 4px;
}
.stay-preview .info-container .container-star svg {
  display: block;
  height: 12px;
  width: 12px;
  fill: currentcolor;
}
.stay-preview .info-container .stay-heading {
  font-family: "Circular";
  font-size: 15px;
}
.stay-preview .info-container .stay-distance,
.stay-preview .info-container .stay-valid-dates {
  font-family: "apple-system";
  color: #717171;
}
.stay-preview .info-container .stay-price {
  margin-top: 6px;
  font-family: "apple-system";
}
.stay-preview .info-container .stay-price span {
  font-family: "Circular";
}
.stay-preview .info-container .stay-price .currency {
  font-size: larger;
}

.app-header {
  background-color: #ffffff;
  padding: 0.7rem 0;
  border-bottom: 1px solid #ebebeb;
  font-family: "Circular";
  font-size: 0.875rem;
  z-index: 5;
  min-height: 80px;
  padding: 0 1em;
}
.app-header .user-modal {
  font-size: "Circular";
  color: #7c7c7c;
  position: absolute;
  top: 9vh;
  right: 3.5vw;
  width: 240px;
  border: 1px solid #dddddd;
  z-index: 4;
  background-color: #ffffff;
  padding: 1.875em;
  border-radius: 1rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);
}
.app-header .user-modal > * {
  padding: 1.25em;
}
.app-header .user-modal .log-in {
  color: #222222;
}
.app-header .user-modal .sign-up {
  border-bottom: 1px solid #dddddd;
}
.app-header .main-content {
  display: grid;
  grid-template-columns: 1fr, -webkit-max-content, 1fr;
  grid-template-columns: 1fr, max-content, 1fr;
  grid-template-rows: 1fr, 1fr;
  align-items: center;
}
.app-header .filter-container {
  opacity: 1;
  box-shadow: 1px 3px 3px 0px #ebebeb;
  grid-column: 2;
  grid-row: 1;
  justify-content: space-between;
  -webkit-padding-start: 0.4375em;
          padding-inline-start: 0.4375em;
  color: #222222;
  border-radius: 2rem;
  outline: 1px solid #dddddd;
  transition: width 2s;
  font-size: 16px;
  max-width: 360px;
  justify-self: center;
}
.app-header .filter-container:hover {
  box-shadow: 2px 4px 3px 0px #ebebeb;
}
.app-header .filter-container button {
  font-family: "Circular";
  font-size: 0.875rem;
}
.app-header .filter-container .line {
  align-self: center;
  height: 1.75em;
  width: 1px;
  background-color: #dddddd;
}
.app-header .filter-container .guests {
  padding: 0;
  color: #717171;
  justify-content: space-between;
  gap: 14px;
}
.app-header .filter-container.close {
  position: relative;
  transition: opacity 1s, padding 0.5s font-size 1s;
  font-size: 20px;
  padding: 10px 30px;
  opacity: 0;
  left: 20%;
}
.app-header .logo-container {
  display: flex;
  align-items: center;
  width: 30px;
  max-height: 80px;
}
.app-header .logo-container img {
  width: 100%;
}
.app-header .search-image {
  display: flex;
  background-color: #ff385c;
  border-radius: 50%;
  max-height: 2rem;
  padding: 10px;
}
.app-header .header-container {
  grid-column: 3;
  grid-row: 1/1;
  justify-self: end;
}
.app-header .header-buttons {
  display: flex;
  align-items: center;
}
.app-header .header-buttons a {
  padding: 0.75em;
  border-radius: 2rem;
  transition: 0.25s;
}
.app-header .header-buttons a:hover {
  background-color: #f7f7f7;
}
.app-header .header-buttons button {
  padding: 0.75em;
  border-radius: 2rem;
  transition: 0.25s;
}
.app-header .header-buttons button:hover {
  background-color: #f7f7f7;
}
.app-header .header-buttons .i18n {
  display: flex;
  width: 1rem;
}
.app-header .user-nav {
  display: flex;
  align-items: center;
  justify-items: center;
  border-radius: 2rem;
  outline: 1px solid #dddddd;
  transition: 0.25s;
}
.app-header .user-nav:hover {
  box-shadow: 2px 4px 3px 0px #ebebeb;
}
.app-header .hamburger {
  width: 1rem;
  margin: 0.75em;
}
.app-header .user {
  width: 30px;
}

.app-header-stay {
  background-color: #ffffff;
  border-bottom: 1px solid #ebebeb;
  font-family: "Circular";
  font-size: 0.875rem;
  min-width: 300px;
  z-index: 5;
}
.app-header-stay .main-content {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr 350px 1fr -webkit-max-content;
  grid-template-columns: max-content 1fr 350px 1fr max-content;
  grid-template-rows: 1fr, 1fr;
  align-items: center;
}
.app-header-stay .filter-container {
  opacity: 1;
  box-shadow: 1px 3px 3px 0px #ebebeb;
  grid-column: 3;
  grid-row: 1;
  justify-content: space-between;
  color: #222222;
  border-radius: 2rem;
  outline: 1px solid #dddddd;
  height: 80%;
  transition: width 2s;
}
.app-header-stay .filter-container:hover {
  box-shadow: 2px 4px 3px 0px #ebebeb;
}
.app-header-stay .filter-container button {
  font-family: "Circular";
  font-size: 0.875rem;
}
.app-header-stay .filter-container .line {
  align-self: center;
  height: 1.75em;
  width: 1px;
  background-color: #dddddd;
}
.app-header-stay .filter-container .guests {
  color: #717171;
  justify-content: space-between;
  gap: 14px;
}
.app-header-stay .filter-container.close {
  position: relative;
  transition: opacity 1s, padding 0.5s, height 0.5s;
  height: 130%;
  padding: 10px 30px;
  opacity: 0;
  left: 20%;
}
.app-header-stay .logo-container {
  display: flex;
  align-items: center;
  width: 30px;
  max-height: 80px;
}
.app-header-stay .logo-container img {
  width: 100%;
}
.app-header-stay .search-image {
  display: flex;
  background-color: #ff385c;
  border-radius: 50%;
  max-height: 2rem;
  padding: 10px;
}
.app-header-stay .header-container {
  grid-column: 5;
  grid-row: 1/1;
}
.app-header-stay .header-buttons {
  display: flex;
  align-items: center;
}
.app-header-stay .header-buttons a {
  padding: 0.75em;
  border-radius: 2rem;
  transition: 0.25s;
}
.app-header-stay .header-buttons a:hover {
  background-color: #f7f7f7;
}
.app-header-stay .header-buttons button {
  padding: 0.75em;
  border-radius: 2rem;
  transition: 0.25s;
}
.app-header-stay .header-buttons button:hover {
  background-color: #f7f7f7;
}
.app-header-stay .header-buttons .i18n {
  display: flex;
  width: 1rem;
}
.app-header-stay .user-nav {
  display: flex;
  align-items: center;
  justify-items: center;
  border-radius: 2rem;
  outline: 1px solid #dddddd;
  transition: 0.25s;
}
.app-header-stay .user-nav:hover {
  box-shadow: 2px 4px 3px 0px #ebebeb;
}
.app-header-stay .hamburger {
  width: 1rem;
  margin: 0.75em;
}
.app-header-stay .user {
  width: 30px;
}

.app-footer {
  background-color: #111;
  color: #ebebeb;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.user-msg {
  color: white;
  padding: 10px;
  font-size: 1.4em;
  position: fixed;
  top: 0;
  right: 0;
  background-color: grey;
}

.user-msg button {
  float: right;
  border: 0;
  border-radius: 50%;
  margin: 5px;
  background-color: #222;
}

.user-msg.success {
  background-color: rgb(41, 189, 73);
}

.user-msg.error {
  background-color: rgb(216, 59, 59);
}

.stayt {
  color: black;
  background-color: #dddddd;
  padding: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: left;
}

.stayt li button {
  margin: 5px;
}

.image-slider {
  height: 100%;
  position: relative;
}
.image-slider .slideStyle {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
}
.image-slider .leftArraw {
  left: 32px;
}
.image-slider .rightArraw {
  right: 32px;
}
.image-slider .arraw {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
  cursor: pointer;
}
.image-slider .arraw svg {
  visibility: visible;
  transition-delay: 0ms;
  transition-duration: 200ms;
}
.image-slider .arraw:hover svg {
  visibility: visible;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  background-color: aquamarine;
}
.image-slider .div-dots {
  background-color: blue;
  z-index: 1;
}
.image-slider .dotContainer {
  display: flex;
  justify-content: center;
}
.image-slider .dot {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.login-form {
  background-color: aqua;
  cursor: pointer;
}

.TitleContant {
  width: 100%;
  position: relative;
  padding-top: 24px;
}

.secendTitl {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.startTitle {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

.titleStay {
  font-size: 26px;
}

.reviewsBtnTitle {
  text-decoration: underline;
}

.titlAddres {
  margin-left: 20px;
}

.detailes {
  width: 100.3%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: " detailsLeft detailsRight ";
}

.shortInfo {
  padding-top: 48px;
  padding-bottom: 24px;
  width: 120%;
  position: relative;
  top: 40px;
  right: 8px;
  color: rgb(34, 34, 34);
  font-weight: 10;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.hostImg {
  height: 56px;
  width: 56px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scendMenu {
  display: flex;
  justify-content: flex-start;
  display: flex;
}

.scendMenuFiturs {
  margin-left: 20px;
}

.hostedBy {
  font-size: 22px;
}

.detailesInfo {
  width: 100%;
  height: 44px;
  margin-bottom: 24px;
}

.detailesInfo3 {
  width: 100%;
  height: 44px;
  margin-bottom: 24px;
}

.detailesInfo4 {
  width: 100%;
  box-sizing: border-box;
}

.img {
  height: 100%;
  width: 5%;
}

.extraContant {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.detaileConteiner {
  width: 120%;
  position: relative;
  right: 8px;
  top: 40px;
  padding: 32px 0px;
  border-bottom: 1px solid lightgray;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.contantConteiner {
  background-color: beige;
  height: auto;
}

.airCover {
  height: auto;
  width: 120%;
  position: relative;
  top: 40px;
  right: 8px;
  padding: 32px 0px;
  border-bottom: 1px solid lightgray;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
}

.aboutThisSpace {
  padding-bottom: 48px;
  padding-top: 32px;
  width: 120%;
  position: relative;
  top: 43px;
  right: 8px;
  border-bottom: 1px solid lightgray;
}

.coverDescription {
  position: relative;
  font-size: 16px;
  margin-bottom: 16px;
}

.LearnMore {
  position: relative;
  width: 100px;
  top: 2px;
  font-size: 18px;
  text-decoration: underline;
}

.coverImg {
  position: relative;
  height: 26px;
  width: 120px;
  left: 2px;
}

.coverImgDiv {
  line-height: 20px;
  font-weight: 400;
  height: 47px;
}

.ShowMore {
  margin-top: 16px;
  text-decoration: underline;
}

.sleepHere {
  padding: 48px 0px;
  border-bottom: 1px solid lightgray;
  width: 120%;
  position: relative;
  right: 8px;
  top: 43px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sleepHereTilte {
  margin-bottom: 16px;
  font-size: 22px;
}

.sleepHereContant {
  display: flex;
  flex-direction: row;
}

.sleepHereBigBox {
  width: 100%;
}

.sleepHereBox {
  height: 143px;
  width: 210px;
  padding: 24px;
  margin-right: 25px;
  margin-top: 7px;
  border: 1px solid lightgray;
  border-radius: 12px;
}

.bedPic {
  margin-bottom: 16px;
  width: 23px;
  height: 23px;
}

.stayNum {
  margin-bottom: 8px;
  font-weight: 600;
}

.bedKind {
  font-size: 14px;
}

.placeOffers {
  position: relative;
  right: 8px;
  top: 43px;
  padding: 48px 0px;
  border-bottom: 1px solid lightgray;
  width: 120%;
}

.offersTitle {
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 24px;
}

.offers {
  max-width: 83.33333%;
  padding-bottom: 16px;
}

.showAll {
  margin-top: 24px;
  border: 1px solid;
  padding: 13px 23px;
  border-radius: 8px;
}

.placeOffersContant {
  display: flex;
  flex-wrap: wrap;
}

.offer {
  width: 300px;
  padding-bottom: 16px;
  display: flex;
}

.offerImg {
  height: 20px;
  width: 20px;
}

.oferTxt {
  margin-left: 20px;
}

.booking {
  grid-area: detailsRight;
  font-family: "Circular";
}
.booking .bookingBox {
  position: -webkit-sticky;
  position: sticky;
  margin-left: 205px;
  margin-top: 37px;
  top: 127px;
  height: 460px;
  width: 368px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  padding: 24px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.booking .boxContantTop {
  height: 112px;
  width: 322px;
  border-radius: 5px;
  position: relative;
  top: 20px;
  right: 1px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  grid-template-areas: " topBtn " " bottomBtn";
}
.booking .topBookingBox {
  display: flex;
  justify-content: space-between;
  align-items: centers;
}
.booking .reviewsBtn {
  text-decoration: underline;
  color: rgb(159, 159, 159);
  font-family: apple-system;
  font-size: 14px;
}
.booking .checkInBtn {
  grid-area: topBtn;
  width: 100.4%;
  height: 101.5%;
  position: relative;
  right: 5px;
  bottom: 6px;
  border: 1px solid rgb(197, 197, 197);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.booking .guests {
  grid-area: bottomBtn;
  width: 100.5%;
  height: 101.5%;
  position: relative;
  z-index: 1;
  right: 6px;
  bottom: 5.7px;
  border: 1px solid lightgray;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.booking .guests:focus {
  border: 2px solid black;
  border-radius: 10px;
}
.booking .guestsModal {
  width: 100%;
  height: auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  position: relative;
  z-index: 6;
  margin-top: 33px;
  background-color: white;
}
.booking .capacityLabel {
  margin-bottom: 24px !important;
  margin-top: 24px !important;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.booking .first {
  margin-bottom: 24px !important;
  margin-top: 8px !important;
}
.booking .chosingGuests {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
}
.booking .chosingGuestsBtn {
  border-radius: 50%;
  border: 1px solid lightgray;
}
.booking .chosingGuestsBtn:hover {
  border: 1px solid black;
}
.booking .descriptionGuests {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.booking .reservBtn {
  --mouse-x: 50;
  --mouse-y: 50;
  min-width: 320px;
  height: 46px;
  position: relative;
  right: 7px;
  top: 31px;
  background-size: 200% 200%;
  background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
  background-color: #de1361;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
.booking .wontharged {
  position: relative;
  top: 45px;
  right: 5px;
  text-align: center;
  font-size: 14px;
  font-family: "Circular";
  font-weight: 400;
}
.booking .sum {
  position: relative;
  top: 68px;
  right: 1px;
  border-bottom: 1px solid lightgray;
  height: 82px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.booking .billingCalc {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: "apple-system";
}
.booking .extraInfo {
  height: 100%;
}
.booking .price {
  position: relative;
  font-size: 22px;
  line-height: 26px;
  right: 3px;
  bottom: 3px;
  width: auto;
}
.booking .currency {
  font-size: 25px;
  right: 5px;
}
.booking .night {
  color: rgb(34, 34, 34);
  font-size: 16px;
  font-weight: 100;
  font-family: apple-system;
}
.booking .rate {
  font-size: 14px;
}
.booking .total {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 93px;
  right: 1px;
}

.reviwes {
  position: relative;
  right: 8px;
  top: 43px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding: 48px 0px;
}
.reviwes .reviwesEmpty {
  position: relative;
  right: 8px;
  top: 43px;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding: 48px 0px;
}
.reviwes .reviewTitle {
  font-size: 22px;
  margin-bottom: 32px;
  font-weight: 600;
  line-height: 26px;
}
.reviwes .reviwesRate {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 20px;
}
.reviwes .reviwesTable {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  line-height: 20px;
  margin-bottom: 40px;
}
.reviwes .cleanliness {
  grid-area: cleanliness;
}
.reviwes .accuracy {
  grid-area: accuracy;
}
.reviwes .communication {
  grid-area: communication;
}
.reviwes .location {
  grid-area: location;
}
.reviwes .checkIn {
  grid-area: checkIn;
}
.reviwes .value {
  grid-area: value;
}
.reviwes .rateTitle {
  height: 100%;
}
.reviwes .scaleRate {
  align-content: center;
  width: 50%;
  padding: 1px 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
}
.reviwes .prograsDiv {
  width: 36%;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.reviwes .prograsBar {
  position: relative;
  width: 124px;
  height: 10px;
  color: black;
}
.reviwes .presents {
  width: 124px;
}
.reviwes .rateNum {
  font-size: 12px;
  padding-right: 30px;
}
.reviwes .reviewsMsg {
  display: flex;
  flex-wrap: wrap;
}
.reviwes .reviewsMsg .reviewContant {
  width: 50%;
}
.reviwes .reviewsMsg .reviewTxt {
  padding-right: 80px;
  margin-bottom: 40px;
}
.reviwes .reviewsMsg .reviewTitle {
  margin-bottom: 16px;
  display: flex;
}
.reviwes .reviewsMsg .reviewTitle .reviewUserImg {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: rgb(231, 229, 229);
}
.reviwes .reviewsMsg .reviewTitle .reviewDetailes {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
  height: 40px;
}
.reviwes .reviewsMsg .reviewTitle .reviewTitleMonth {
  display: inline;
  font-size: 14px;
}
.reviwes .reviewsMsg .reviewTitle .reviewTitleName {
  box-sizing: border-box;
  line-height: 20px;
  font-size: 16px;
  font-weight: 600;
}

.place {
  background-color: rgb(245, 17, 245);
  height: 100%;
  width: 100.5%;
}

.hosted-left {
  background-color: rgb(174, 166, 66);
  height: 100%;
  width: 100.5%;
}

.hosted-right {
  background-color: rgb(93, 89, 39);
  height: 100%;
  width: 100.5%;
}

.to-know {
  background-color: rgb(74, 71, 74);
  height: 100%;
  width: 100.5%;
}

.first-footer {
  position: relative;
  right: 8px;
  top: 43px;
  height: 150px;
}

.secend-footer {
  background-color: rgb(47, 149, 149);
  height: 100%;
  width: 100.5%;
}

.galery {
  height: 335px;
  width: 100%;
  padding-top: 24px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: " left right ";
}

.galeryLeft {
  cursor: pointer;
  position: relative;
  right: 5px;
  grid-area: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  width: 100%;
}

.galeryRight {
  grid-area: right;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas: " topLeft topRight " " bottomLeft bottomRight";
}

.topLeft {
  cursor: pointer;
  grid-area: topLeft;
  height: 97%;
  width: 100%;
  position: relative;
  left: 3px;
}

.topRight {
  cursor: pointer;
  grid-area: topRight;
  background-color: bisque;
  margin-bottom: 40px;
  margin-left: 10px;
  height: 97%;
  width: 99%;
  position: relative;
  left: 1px;
  border-top-right-radius: 10px;
}

.bottomLeft {
  cursor: pointer;
  grid-area: bottomLeft;
  background-color: blueviolet;
  margin-left: 4px;
  margin-top: 4px;
  height: 97%;
  width: 100%;
}

.bottomRight {
  cursor: pointer;
  grid-area: bottomRight;
  background-color: rgb(161, 128, 86);
  margin-left: 11px;
  margin-top: 4px;
  height: 97%;
  width: 99%;
  border-bottom-right-radius: 10px;
}

.filter-layout.close {
  opacity: 0;
  height: 0px;
}

.filter-layout.open {
  padding-bottom: 10px;
  display: flex;
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  justify-content: center;
  transition: 1s;
  opacity: 1;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.filter-layout.open .filter-container-big {
  border-radius: 2rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  min-width: 784px;
  max-width: 53.18875em;
  background-color: #ebebeb;
  margin-top: 20px;
  justify-content: space-between;
}
.filter-layout.open .filter-container-big .line {
  align-self: center;
  height: 1.75em;
  width: 1px;
  background-color: #dddddd;
}
.filter-layout.open .filter-container-big button {
  font-family: "apple-system";
  margin: 0;
  width: 130px;
  border-radius: 2rem;
  text-align: start;
}
.filter-layout.open .filter-container-big button .title {
  font-weight: bold;
  line-height: 1.25rem;
  font-size: 0.75rem;
  letter-spacing: 0.03em;
  padding-top: 0.875em;
}
.filter-layout.open .filter-container-big button.focused {
  border-radius: 2rem;
  background-color: #ffffff;
  outline: none;
  box-shadow: -1px 2px 12px 0 #717171;
}
.filter-layout.open .filter-container-big button.focused:hover {
  background-color: #ffffff;
}
.filter-layout.open .filter-container-big button .desc {
  color: #717171;
  line-height: 1.125em;
  padding-bottom: 0.875em;
}
.filter-layout.open .filter-container-big button:hover:not(:focus) {
  background-color: #dddddd;
}
.filter-layout.open .filter-container-big .location-inputs button {
  margin: 0;
  width: 260px;
  padding: 0 33px;
  height: 100%;
}
.filter-layout.open .filter-container-big .location-inputs.focused {
  border-radius: 2rem;
  background-color: #ffffff;
  outline: none;
  box-shadow: -1px 2px 12px 0 #717171;
}
.filter-layout.open .filter-container-big .location-inputs.focused:hover {
  background-color: #ffffff;
}
.filter-layout.open .filter-container-big input {
  font-family: "apple-system";
  font-size: 1em;
  padding-bottom: 0.875em;
  border: none;
  background-color: inherit;
}
.filter-layout.open .filter-container-big input:focus-visible {
  outline: none;
}
.filter-layout.open .filter-container-big .last-input {
  display: flex;
  border-radius: 2rem;
}
.filter-layout.open .filter-container-big .last-input.focused {
  border-radius: 2rem;
  background-color: #ffffff;
  outline: none;
  box-shadow: -1px 2px 12px 0 #717171;
}
.filter-layout.open .filter-container-big .last-input.focused:hover {
  background-color: #ffffff;
}
.filter-layout.open .filter-container-big .last-input:hover {
  background-color: #dddddd;
}
.filter-layout.open .filter-container-big .last-input .search-btn {
  font-weight: bold;
  color: #ffffff;
  line-height: 1.25rem;
  margin: 9px;
  padding: 1em;
  width: 6.9375em;
  display: flex;
  justify-content: space-between;
  border-radius: 2rem;
  background-color: #e11860;
  justify-self: center;
  align-self: center;
}
.filter-layout.open .filter-container-big .location-filter {
  position: absolute;
  left: 23vw;
  top: 155px;
  z-index: 4;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: 1fr 120px 120px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 60px;
  padding-bottom: 5em;
  -webkit-padding-start: 3.75em;
          padding-inline-start: 3.75em;
  -webkit-padding-end: 2.5em;
          padding-inline-end: 2.5em;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 2rem;
}
.filter-layout.open .filter-container-big .location-filter .title {
  padding-top: 2.5em;
  padding-bottom: 1.875em;
  grid-row: 1/1;
  grid-column: 1/4;
}
.filter-layout.open .filter-container-big .location-filter .img-container {
  width: 120px;
  aspect-ratio: 1/1;
  background-size: cover;
  border: 1px solid #dddddd;
  border-radius: 1rem;
  overflow: hidden;
}
.filter-layout.open .filter-container-big .location-filter .img-container:hover {
  border: 1px solid #222222;
}
.filter-layout.open .filter-container-big .location-filter .img-container img {
  width: 100%;
}
.filter-layout.open .filter-container-big .capacity-filter-inputs {
  background-color: #ffffff;
  width: 406px;
  padding: 1em 2em;
  position: absolute;
  right: 35vw;
  top: 155px;
  z-index: 4;
  border-radius: 2rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);
}
.filter-layout.open .filter-container-big .capacity-filter-inputs .count-input {
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5em 0;
  -webkit-padding-end: 0.25em;
          padding-inline-end: 0.25em;
}
.filter-layout.open .filter-container-big .capacity-filter-inputs .count-input:last-of-type {
  border-bottom: none;
}
.filter-layout.open .filter-container-big .capacity-filter-inputs .btns-container {
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  width: 104px;
  font-size: 1rem;
}
.filter-layout.open .filter-container-big .capacity-filter-inputs .btns-container button {
  border-radius: 50%;
  border: 1px solid #ebebeb;
  font-size: 1rem;
  text-align: center;
  padding: 8px 0;
}
.filter-layout.open .filter-container-big .capacity-filter-inputs .btns-container button:hover {
  border: 1px solid #333333;
  background-color: inherit;
}
.filter-layout.open .filter-container-big .capacity-filter-inputs .btns-container button:disabled {
  cursor: not-allowed;
}
.filter-layout.open .filter-container-big .capacity-filter-inputs .txt {
  font-family: "Circular";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.filter-layout.open .filter-container-big .capacity-filter-inputs .txt .title {
  line-height: 1.25em;
  font-size: 1rem;
  color: #222222;
}
.filter-layout.open .filter-container-big .capacity-filter-inputs .txt .desc {
  line-height: 1.125em;
  font-size: 0.875rem;
  color: #717171;
}
.filter-layout.open .filter-container-big .date-filter {
  text-align: center;
  font-family: "Circular";
  background-color: #ffffff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: 155px;
  right: 35vw;
  position: absolute;
  z-index: 4;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 2rem;
  overflow: hidden;
  padding: 1em 2em;
}
.filter-layout.open .filter-container-big .date-filter .title {
  display: inline-block;
  padding-top: 38px;
  margin-top: 38px;
  width: 200px;
  text-align: center;
}
.filter-layout.open .filter-container-big .date-filter .react-datepicker {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: "Circular";
}
.filter-layout.open .filter-container-big .date-filter .react-datepicker__header {
  width: 325px;
  background-color: inherit;
  border: none;
}
.filter-layout.open .filter-container-big .date-filter .react-datepicker__month-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.125rem;
  font-size: 1rem;
  height: 479px;
  padding: 0 1.6875em;
  outline: none;
  width: 370px;
  background-color: inherit;
}
.filter-layout.open .filter-container-big .date-filter .react-datepicker__day {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 2.75em;
  min-height: 2.75em;
  border-radius: 50%;
}
.filter-layout.open .filter-container-big .date-filter .react-datepicker__day:hover {
  background-color: inherit;
  outline: 1px solid #222222;
  color: #222222;
}
.filter-layout.open .filter-container-big .date-filter .react-datepicker__day--in-selecting-range {
  background-color: #f7f7f7;
  color: #222222;
  border-radius: none;
}
.filter-layout.open .filter-container-big .date-filter .react-datepicker__day--in-range {
  color: #222222;
  background-color: #f7f7f7;
  border: none;
}
.filter-layout.open .filter-container-big .date-filter .react-datepicker__day--selected {
  background-color: #222222;
  color: #ffffff;
}
.filter-layout.open .filter-container-big .date-filter .react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.filter-layout.open .filter-container-big .date-filter .react-datepicker__day-name {
  font-size: 0.75rem;
  color: #929292;
}
.filter-layout.open .filter-container-big .date-filter .react-datepicker__current-month {
  margin-bottom: 49px;
}
.filter-layout.open .filter-container-big .date-filter .react-datepicker__day--keyboard-selected {
  background-color: #222222;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */